.fav__list {
    margin-left: 350px;
    margin-bottom: 308px;
}

.fav__title {
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    line-height: 49.03px;
    text-align: left;
    color: #383838;
    margin-left: 350px;
    margin-top: 64px;
    margin-bottom: 21px;
}