.con__div{
    display: flex;
    margin-top: 45px;
}

.contact__title {
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 700;
    line-height: 65.37px;
    text-align: left;
    color: #383838;
    margin-top: 97px;
}

.contact__text {
    width: 600px;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    text-align: left;
    color: #383838;
    margin-top: 32px;


}

.con__div__list {
    width: 800px;
    background-color: #72BF44;
    padding: 31px 50px;
}

.condiv__item__title {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 12px;

}

.condiv__item__link {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 12px;
    display: block;

}

.contact__link {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
    /* margin-bottom: 30px; */

}

.grafic {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 13px;

}

.condiv__item__text {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 19px;

}

.condiv__title__2 {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 13px;

}

.kfhjuehfjehfcdkldiwjfc{
    margin-left: 16px;
}

.jojojo{
    margin-top: 200px;
}