.about__title {
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 700;
    line-height: 65.37px;
    text-align: left;
    color: #383838;
    margin-top: 97px;
    margin-bottom: 32px;
}
.jojojojo {
    width: 989px;
    height: 410px;
    display: block;
}
.about__title2 {
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 600;
    line-height: 49.03px;
    text-align: left;
    color: #383838;
    margin-top: 66px;
    margin-bottom: 21px;
}
.about__text {
    width: 836px;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    text-align: left;
    color: #383838;
}